@using Deliscio.Web.Site.ViewModels.Models.Tags
@model Deliscio.Modules.Links.Common.Models.LinkItem

@{
    var linkHref = $"/links/{Model.Id}";
    var title = Model.Title.Length > 50 ? $"{Model.Title.Substring(0, 47)}..." : Model.Title;
    var description = Model.Description.Length > 100 ?
        $"{Model.Description[..97]}..." : Model.Description;

    const string blankImage =
    "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
}


<div class="link-card">
    <a href='@linkHref'>
        <img class="card-img-top"
             alt="@title"
             width="0"
             height="0"
             sizes="100vw"
             style="width: 100%; height: auto"
             src="@Model.ImageUrl"
             lazyload="lazy"
        @* priority={priority} *@
        @* onError={(e) => onImgError(e)} *@ />
        <div class="link-card-body">
            <h5 class="link-card-title">@title</h5>
            <p>
                via : <span>@Model.Domain</span>
            </p>
            <p class="link-card-description">@description</p>
        </div>
    </a>
    <div class="link-card-footer">
        @{
            if (Model.Tags.Any())
            {
                var tagPills = new TagsModel(Model.Tags);
                await Html.RenderPartialAsync("Tags/_TagPills", tagPills);
            }
        }
    </div>

</div>